<mat-toolbar color="primary" class="app-header">
    <mat-toolbar-row>
        <span>
      <button mat-button routerLink="/">
        <mat-icon style="font-size: 21px;">home</mat-icon>
        {{title}}
      </button>
    </span>
        <span class="spacer"></span>
        <div fxLayout="row" fxShow="false" fxShow.gt-sm>
            <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
        <mat-icon>exit_to_app</mat-icon>
        Login
      </button>
            <button mat-button routerLink="/register" *ngIf="!isAuthenticated">
        <mat-icon>power_settings_new</mat-icon>
        Register
      </button>
            <button mat-button routerLink="/profile" *ngIf="isAuthenticated">
        <mat-icon>settings</mat-icon>
        Profile
      </button>
            <button mat-button routerLink="/company-lines" *ngIf="isBusCompany">
        <mat-icon>assignment</mat-icon>
        Company lines
      </button>
            <button mat-button routerLink="/tickets" *ngIf="isTraveler">
        <mat-icon>collections</mat-icon>
        My tickets
      </button>

            <button mat-button *ngIf="isAuthenticated" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
        </div>

        <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
    <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">
    <mat-icon>exit_to_app</mat-icon>
    Login
  </button>
    <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">
    <mat-icon>power_settings_new</mat-icon>
    Register
  </button>
    <button mat-menu-item *ngIf="isBusCompany" routerLink="/company-lines">
    <mat-icon>assignment</mat-icon>
    Company lines
  </button>
    <button mat-menu-item *ngIf="isTraveler" routerLink="/tickets">
    <mat-icon>collections</mat-icon>
    My tickets
  </button>
    <button mat-menu-item *ngIf="isAuthenticated" routerLink="/profile">
    <mat-icon>settings</mat-icon>
    Profile
  </button>
    <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>

<router-outlet></router-outlet>