<mat-card>
    <mat-card-title>Register</mat-card-title>
    <form fxLayout="column" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
            <mat-form-field fxFlex>
                <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>

            <mat-form-field fxFlex>
                <input matInput placeholder="First name" formControlName="firstName">
            </mat-form-field>

            <mat-form-field fxFlex>
                <input matInput placeholder="Last name" formControlName="lastName">
            </mat-form-field>

            <mat-form-field fxFlex>
                <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>

            <mat-form-field fxFlex>
                <mat-label>Choose a role...</mat-label>
                <mat-select formControlName="role">
                    <mat-option *ngFor="let role of roles" [value]="role">{{role}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <p *ngIf="error">{{error}}</p>
            <button type="submit" mat-button>Register</button>
        </mat-card-content>
    </form>

</mat-card>